<div xmlns:th="http://www.thymeleaf.org">

    <header id="header">
        <nav>
            <a th:href="@{/}">Домашняя</a>
            <a th:href="@{/chat}">Чат</a>
            <a th:href="@{/admin}">Админка</a>

            <a th:href="@{/userInfo}" class="user"
               th:if="${#request.userPrincipal != null}"
               th:utext="${#request.userPrincipal.name}">Текущий пользователь</a>

            <a th:href="@{/login}" th:if="${#request.userPrincipal == null}">Вход</a>
            <a th:href="@{/registration}" th:if="${#request.userPrincipal == null}">Регистрация</a>
            <a th:href="@{/logout}" th:if="${#request.userPrincipal != null}">Выход</a>

        </nav>
    </header>

</div>
