<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Чат</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="/css/main.css"/>

    <script src="/js/sockjs-0.3.4.js"></script>
    <script src="/js/stomp.js"></script>
    <script src="/js/chat.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>
<body onload="loadPage()">
<!-- Include _menu.html -->
<th:block th:include="_menu"></th:block>

<section id="main" class="wrapper">
    <div class="inner">
        <div class="content">

            <!-- Check if errorMessage is not null and not empty -->
            <!--<div id="errorMessage" class="error-text" th:if="${errorMessage}" th:utext="${errorMessage}"></div>-->
            <div id="errorMessage" class="error-text"></div>
            <noscript>
                <h2 class="error-text">Ваш браузер не поддерживает Javascript! Пожалуйста, включите
                Javascript и перезагрузите эту страницу!</h2>
            </noscript>

            <!--<form name='f' th:action="@{/sendMessage}" th:object="${formOfSend}" method='POST'>-->
            <input id="message" type='text' name='message' placeholder="Сообщение участникам чата" autocomplete="off">
            <input type="submit" name="submit" class="primary" value="Отправить" onclick="sendMessage();"/>
            <!--</form>-->

            <div><br></div>

            <div id="chatlist" class="chatlist" >
                <div th:each="message : ${messages}" th:utext="${message}"></div>
            </div>

            <div id="respone"></div>

        </div>
    </div>
</section>

</body>

</html>